#!/usr/bin/env bash

export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad

# TERMINAL PROMPTS
# User Name
PS1="\[\e[1;35m\]\u\[\e[m\]@"

# Current Directory
PS1+="\[\e[1;34m\]\W\[\e[m\]"

# Git Branch
git_branch() {
  git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)/'
}
PS1+="^\[\e[1;31m\]\$(git_branch)\[\e[m\]"   

# End Prompt
PS1+=": "

export PS1;
